<!doctype html>
<html>
    <head>
        
    </head>
    <body>
        
        <div id="song"></div>
        <a id="start">Start</a>
        <a id="stop">Stop</a>
        
        </br>
        <text>¿Prefieres una canción de tu elección?</text>
        
        <input class="form-control" type="text" ng-model="cancion" ng-init="The Legend Of Zelda" placeholder="Introduzca un título"/>
        <br/>
        <button class="button btn-primary" ng-click="playMusic()">Search</button>
        <div id="player"></div>

        <div id='grafica'></div>
        <!--<canvas id="myChart" width="400" height="400"></canvas>-->
        <canvas id="myDoughnutChart"></canvas>
        
        
        
    </body>
</html>