<!doctype html>
<html>

<head>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Heroic Features - Start Bootstrap Template</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/heroic-features.css" rel="stylesheet">

</head>

<body>



    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="#">Welcome to our API</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home
                <span class="sr-only">(current)</span>
              </a>

                </ul>
            </div>
        </div>
    </nav>



    </br>
    <p class="text-warning text-center" id="song"></p>
    <button type="button" class="btn btn-info" id="start">Play Music</button>
    <button type="button" class="btn btn-info" id="stop">Stop Music</button>

    </br>
    <p class="text-warning text-center" >¿Prefieres una canción de tu elección?</p>

    <input class="form-control" type="text" ng-model="cancion" ng-init="The Legend Of Zelda" placeholder="Introduzca un título" />
    <br/>
    <button class="button btn-primary" ng-click="playMusic()">Search</button>
    <div id="player"></div>

    <div id='grafica'></div>
    <!--<canvas id="myChart" width="400" height="400"></canvas>-->
    <canvas id="myDoughnutChart"></canvas>



</body>


<!-- Footer -->
<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; My API 2018</p>
    </div>
    <!-- /.container -->
</footer>

<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>


</html>