 <html>

<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Heroic Features - Start Bootstrap Template</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/heroic-features.css" rel="stylesheet">

</head>

<body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="#">Welcome to our API</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home
                <span class="sr-only">(current)</span>
              </a>

                </ul>
            </div>
        </div>
    </nav>

<h1>Divorce list</h1>
<table class="table table-bordered table-striped sortable" id=divtab>
    <thead>
        <tr>
            <th onclick="sortTable(0)">Province</th>
            <th onclick="sortTable(1)">Year</th>
            <th onclick="sortTable(2)">Divorce</th>
            <th>Break</th>
            <th>Nullity</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><input class="form-control" ng-model="newDivorce.province" /></td>
            <td><input class="form-control" type="number" ng-model="newDivorce.year" /></td>
            <td><input class="form-control" type="number" ng-model="newDivorce.divorce" /></td>
            <td><input class="form-control" type="number" ng-model="newDivorce.break" /></td>
            <td><input class="form-control" type="number" ng-model="newDivorce.nullity" /></td>
            <td><button class="button btn-success" ng-click="addDivorce()">
                Add
            </button></td>
        </tr>
        <tr ng-repeat="divorce in divorces">
            <td><a href="/#!/divorces-an/{{divorce.province}}/{{divorce.year}}">{{divorce.province}}</a></td>
            <td>{{divorce.year}}</td>
            <td>{{divorce.divorce}}</td>
            <td>{{divorce.break}}</td>
            <td>{{divorce.nullity}}</td>
            <td><button class="button btn-danger" ng-click="deleteDivorce(divorce.province, divorce.year)">Delete</button></td>
        </tr>
        <tr>
            <td><button class="button btn-info" ng-click="getPageBack()">Back</button></td>
            <td><button class="button btn-info" ng-click="getPageNext()">Next</button></td>
            <td><button class="button btn-danger" ng-click="deleteAll()">Delete All</button></td>
            <td><button class="button btn-primary" ng-click="fillTable()">Fill Table</button></td>
            <td><button class="button btn-warning"  onclick="window.location='https://sos1718-08.herokuapp.com/#!/divorces-an/stadistics'">Stadistics</button></td>
        </tr>
            
       
       
    </tbody>
</table>
<h2>Search</h2>
<table class="table table-bordered table-hover">
     <tr><thead>
        <tr>
            <th>Province</th>
            <th>Field</th>
            <th>Valor</th>
            
        </tr>
    </thead>
                    <td><input placeholder="province" name="province" class="form-control"  ng-model="province"/></td>
                    <td>
                        <select class="form-control" ng-model="campo" ng-init="campo='province'">
                                <option value="" disabled selected></option>
                                <option value="year">year</option>
                                <option value="divorce">divorce</option>
                                <option value="break">break</option>
                                <option value="nullity">nullity</option>
                              </select>
                    </td>
                    
                    <td><input placeholder="valor" name="valor" class="form-control"  ng-model="valor"/></td>
                    <td><button class="button btn-primary" ng-click="getBusqueda()">Buscar</button></td>
                </tr>
    </table>
  
<script>
function sortTable(n) {
  var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
  table = document.getElementById("divtab");
  switching = true;
  // Set the sorting direction to ascending:
  dir = "asc"; 
  /* Make a loop that will continue until
  no switching has been done: */
  while (switching) {
    // Start by saying: no switching is done:
    switching = false;
    rows = table.getElementsByTagName("TR");
    /* Loop through all table rows (except the
    first, which contains table headers): */
    for (i = 1; i < (rows.length - 1); i++) {
      // Start by saying there should be no switching:
      shouldSwitch = false;
      /* Get the two elements you want to compare,
      one from current row and one from the next: */
      x = rows[i].getElementsByTagName("TD")[n];
      y = rows[i + 1].getElementsByTagName("TD")[n];
      /* Check if the two rows should switch place,
      based on the direction, asc or desc: */
      if (dir == "asc") {
        if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
          // If so, mark as a switch and break the loop:
          shouldSwitch= true;
          break;
        }
      } else if (dir == "desc") {
        if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
          // If so, mark as a switch and break the loop:
          shouldSwitch= true;
          break;
        }
      }
    }
    if (shouldSwitch) {
      /* If a switch has been marked, make the switch
      and mark that a switch has been done: */
      rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
      switching = true;
      // Each time a switch is done, increase this count by 1:
      switchcount ++; 
    } else {
      /* If no switching has been done AND the direction is "asc",
      set the direction to "desc" and run the while loop again. */
      if (switchcount == 0 && dir == "asc") {
        dir = "desc";
        switching = true;
      }
    }
  }
}
</script>
    

<hr/>



<div id="divorcedata"></div>
<div id="divorcegraphic"></div>


</body>
<!-- Footer -->
<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; My API 2018</p>
    </div>
    <!-- /.container -->
</footer>

<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</html>