<hmtl>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.0-beta.2/angular-sanitize.js"></script>
    <body><h1>Fotos</h1>
        
    <input class="form-control" ng-model="widget" placeholder="Introduzca una provincia" />
    <br/>
    <button class="button btn-primary" ng-click="searchImage()">Search</button>
   
   <img src="{{imagenes}}">
   
  

     

  
   
    
    
    
        
        
        
    </body>
</hmtl>