<hmtl>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.0-beta.2/angular-sanitize.js"></script>
    <body><h1>Fotos</h1>
        
    <input class="form-control" ng-model="widget" placeholder="Introduzca una provincia" />
    <br/>
    <button class="button btn-primary" ng-click="searchImage()">Search</button>
   <br>
    <body ng-app="ManagerApp" ng-controller="divorceExterna">
    
    
    
   
    <head>
		<script src= "https://cdn.zingchart.com/zingchart.min.js"></script>
		<script> zingchart.MODULESDIR = "https://cdn.zingchart.com/modules/";
		ZC.LICENSE = ["569d52cefae586f634c54f86dc99e6a9","ee6b7db5b51705a13dc2339db3edaf6d"];</script>  <link href='//fonts.googleapis.com/css?family=Passion+One:700,400' rel='stylesheet' type='text/css'>
	
	</head>
	<body>
		<div id='myChart'><a class="zc-ref" href="https://www.zingchart.com/">Charts by ZingChart</a></div>
	</body>
	
	 <element ng-repeat="x in imagenes"> <img src="{{x}}"></element>
</hmtl>