
      <h1>Crimes List</h1>
       <table class="table table-striped">
            <thread>
                <tr>
                <th>Provincia</th>
                <th>Año</th>
                <th>Género</th>
                <th>Un crimen</th>
                <th>Dos crímenes</th>
                <th>Tres crímenes</th>
                <th>Más de tres crímenes</th>
            </tr>
            </thread>
            <tbody>
                <tr>
                    <td><input class="form-control" ng-model="newCrime.province" /></td>
                    <td><input class="form-control" type="number"ng-model="newCrime.year" /></td>
                    <td><input class="form-control" ng-model="newCrime.gender" /></td>
                    <td><input class="form-control" type="number"ng-model="newCrime.onecrime" /></td>
                    <td><input class="form-control"type="number" ng-model="newCrime.twocrime" /></td>
                    <td><input class="form-control"type="number" ng-model="newCrime.threecrime" /></td>
                    <td><input class="form-control"type="number" ng-model="newCrime.morethreecrime" /></td>
                    <td><button class="button btn-primary" ng-click="addCrime()">Add</button></td>
                </tr>
                <tr ng-repeat="a in crimes">
                    <td><a href="/#!/crimes-an/{{a.province}}/{{a.year}}/{{a.gender}}">{{a.province}}</a></td>
                    <td>{{a.year}}</td> 
                    <td>{{a.gender}}</td>
                    <td>{{a.onecrime}}</td>
                    <td>{{a.twocrime}}</td>
                    <td>{{a.threecrime}}</td>
                    <td>{{a.morethreecrime}}</td>
                    <td><button class="button btn-warning" ng-click="deleteCrime(a.province, a.year, a.gender)">Delete</button></td>
                </tr>
                <tr>
                    <td><input placeholder="limit"name="limit" class="form-control" type="number" ng-model="limit"/></td>
                    <td><input placeholder="offset" name="offset" class="form-control" type="number" ng-model="offset"/></td>
                    <td><button class="button btn-primary" ng-click="paginacion()">Paginar</button></td>
                    <td><button class="button btn-secondary" ng-click="paginacion3()">Anterior</button></td>
                    <td><button class="button btn-secondary" ng-click="paginacion2()">Siguiente</button></td>
                </tr>
                <tr>
                    <td><button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" ng-model="campo">Campo búsqueda
                      <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <li><a href="#">province</a></li>
                            <li><a href="#">year</a></li>
                            <li><a href="#">gender</a></li>
                            <li><a href="#">onecrime</a></li>
                            <li><a href="#">twocrime</a></li>
                            <li><a href="#">threecrime</a></li>
                            <li><a href="#">morethreecrime</a></li>
                        </ul>
                    </td>
                    <td><input placeholder="valor" name="valor" class="form-control"  ng-model="valor"/></td>
                    <td><button class="button btn-primary" ng-click="busqueda()">Buscar</button></td>
                </tr>
                <tr>
                    <td><button class="button btn-danger" ng-click="deleteAll()">Delete All</button></td>
                    <td><button class="button btn-primary" ng-click="fillTable()">Fill Table</button></td>
                </tr>
            </tbody>
            
        </table>
        
        <div class="alert alert-success"> {{status}} </div>
        <div class="alert alert-danger"> {{error}} </div>