 <html>

<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Heroic Features - Start Bootstrap Template</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/heroic-features.css" rel="stylesheet">

</head>

<body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="#">Welcome to our API</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home
                <span class="sr-only">(current)</span>
              </a>

                </ul>
            </div>
        </div>
    </nav>

<h1>Student list</h1>
<table class="table">
    <pagination total-items="100" max-size="5" boundary-links="true">
    </pagination>
    <thead>
        <tr>
            <th>Province</th>
            <th>Year</th>
            <th>Gender</th>
            <th>Illiterate</th>
            <th>High education</th>
            <th>University</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><input class="form-control" ng-model="newStudent.province" /></td>
            <td><input class="form-control" type="number" ng-model="newStudent.year" /></td>
            <td><input class="form-control" ng-model="newStudent.gender" /></td>
            <td><input class="form-control" type="number" ng-model="newStudent.popilliterate" /></td>
            <td><input class="form-control" type="number" ng-model="newStudent.pophigheducation" /></td>
            <td><input class="form-control" type="number" ng-model="newStudent.popinuniversity" /></td>
            <td><button class="button btn-primary" ng-click="addStudent()">
                Add
            </button></td>
        </tr>
        <!--<tr data-ng-repeat="i in nump"></tr> -->

        <tr ng-repeat="student in students">
            <td><a href="/#!/students-an/{{student.province}}/{{student.year}}/{{student.gender}}">{{student.province}}</a></td>
            <td>{{student.year}}</td>
            <td>{{student.gender}}</td>
            <td>{{student.popilliterate}}</td>
            <td>{{student.pophigheducation}}</td>
            <td>{{student.popinuniversity}}</td>
            <td><button class="button btn-danger" ng-click="deleteStudent(student.province, student.year, student.gender)">Delete</button></td>
        </tr>
        <tr>
            <td><button class="button btn-danger" ng-click="deleteAll()">Delete All</button></td>
            <td><button class="button btn-primary" ng-click="fillTable()">Fill Table</button></td>
            <td><a href="https://sos1718-08.herokuapp.com/#!/students-an/search"><button class="button btn-primary">Search</button></a></td>
        </tr>
        <tr>
            <td><button class="button btn-secondary" ng-click="back()">Anterior</button></td>
            <td><button class="button btn-secondary" ng-click="next()">Siguiente</button></td>
            <td><a href="https://sos1718-08.herokuapp.com/#!/students-an/stadistics"><button class="button btn-secondary">Analytics</button></a></td>
        </tr>
        <tr>
            <td>

                <select class="form-control" ng-model="campo" ng-init="campo='province'">
                                <option value="" disabled selected>Campo Búsqueda</option>
                                <option value="province">province</option>
                                <option value="year">year</option>
                                <option value="gender">gender</option>
                                <option value="popilliterate">popilliterate</option>
                                <option value="pophigheducation">pophigheducation</option>
                                <option value="popinuniversity">popinuniversity</option>
                              </select>
            </td>
            <td><input placeholder="valor" name="valor" class="form-control" ng-model="valor" /></td>
            <td><button class="button btn-primary" ng-click="busqueda()">Buscar</button></td>
        </tr>
    </tbody>
</table>


<hr/>
<div class="alert alert-success"> {{status}} </div>
<div class="alert alert-danger"> {{error}} </div>


</body>

<!-- Footer -->
<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; My API 2018</p>
    </div>
    <!-- /.container -->
</footer>

<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</html>
